// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.InstallScreenSignalLogo {
  @include mixins.font-title-1;
  align-items: center;
  display: flex;
  font-weight: bold;
  position: absolute;
  top: calc(35px + var(--title-bar-drag-area-height));
  inset-inline-start: 32px;

  &::before {
    content: '';
    display: block;
    height: 48px;
    width: 168px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include mixins.light-theme {
      background-image: url('../images/orbital/orbital-logo-light-lg.svg');
    }

    @include mixins.dark-theme {
      background-image: url('../images/orbital/orbital-logo-darkmode-lg.svg');
    }
  }
}
